<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".HomePage">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".SecondActivity"
            android:parentActivityName=".MainActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DiseaseActivity"
            android:parentActivityName=".MapActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".DiseaseActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DiseaseActivity" />
        </activity>
        <activity
            android:name=".MedicineDetails"
            android:parentActivityName=".MedicineActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedicineActivity" />
        </activity>
        <activity
            android:name=".MedicineActivity"
            android:parentActivityName=".MainActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Cart"
            android:parentActivityName=".HomePage">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".DiseaseTabs"
            android:parentActivityName=".HomePageBack">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageBack" />
        </activity>

        <activity
            android:name=".PharmacyTabs"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".HomePageBack">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageBack" />
        </activity>

        <activity
            android:name=".SignUp"
            android:parentActivityName=".MainActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Login"
            android:parentActivityName=".MainActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity
            android:name=".HomePageBack"
            android:parentActivityName=".MainActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".BuyerDetails"
            android:parentActivityName=".MainActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Receipt"
            android:parentActivityName=".BuyerDetails">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BuyerDetails" />
        </activity>

<!--     yee yao-->
        <activity
            android:name=".FoodPyramidTab"
            android:parentActivityName=".MainActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FoodSelectionTab"
            android:parentActivityName=".MainActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DietPlanTab"
            android:parentActivityName=".MainActivity">
            <!-- meta-data for support library compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".LogOut"></activity>
        <activity android:name=".MapActivity"></activity>

<!--        hao yi-->
        <activity android:name=".RiskSurvey"></activity>

<!--        mei li-->

        <activity android:name=".DoctorListActivity">
            <!-- 可选的配置 -->
        </activity>
        <activity android:name=".DoctorDetailsActivity">
            <!-- 可选的配置 -->
        </activity>
        <activity android:name=".AppointmentDateAndTime">
            <!-- 可选的配置 -->
        </activity>
        <activity android:name=".PackageActivity">
            <!-- 可选的配置 -->
        </activity>
        <activity android:name=".PatientDetailsActivity">
            <!-- 可选的配置 -->
        </activity>
        <activity android:name=".PaymentActivity">
            <!-- 可选的配置 -->
        </activity>
        <activity android:name=".AppointmentReviewSummary">
            <!-- 可选的配置 -->
        </activity>
        <activity android:name=".MyAppointmentActivity">
        </activity>
        <activity android:name=".AppointmentDetails">
        </activity>
        <activity android:name=".RescheduleAppointmentDateTime">
        </activity>
        <activity android:name=".Appointment_Main">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAKrD9Kp41hhUHoWQiNqU8ns1k2lJhygpU" />

    </application>

</manifest>